name: pr-validation

on:
  pull_request:
    branches:
    - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Setup go
      uses: actions/setup-go@v5
      with:
        go-version: '1.24'
    - name: Run tests against Linux SQL
      run: |
        go version
        cd cmd/sqlcmd
        go get -d
        go build .
        export SQLCMDPASSWORD=$(date +%s|sha256sum|base64|head -c 32)
        export SQLCMDUSER=sa
        docker run -m 2GB -e ACCEPT_EULA=1 -d --name sql2022 -p:1433:1433 -e SA_PASSWORD=$SQLCMDPASSWORD mcr.microsoft.com/mssql/server:2022-latest
        cd ../..
        go test -v ./...
